@model List<BiblioAsp.Models.Livre>
@{
    ViewBag.Title = "Nos livres";
}
    <header>
        <h2>Voici le contenu de la biliothèque</h2>
    </header>
    <div>     
      <!-- @if(DateTime.Now.DayOfWeek == DayOfWeek.Friday)
        {
            <text>C'est bientôt le week end !</text>
        }-->
        @section Menu
        {
            <li>@Html.ActionLink("Ajouter un livre", "Livre", "Ajouter")</li> <!-- Section personnalise une partie du layout de base -->
        }
            <table>
                <tr>
                    <th>Titre</th>
                    <th>Date de parution</th>
                    <th>Auteur</th>
                </tr>
            @foreach (BiblioAsp.Models.Livre l in Model)
            {
                <tr>
                    <td>@l.Titre</td>
                    <td>@l.DateParution</td>
                    <td>@l.Auteur.Nom</td>
                </tr>
              } 
            </table>
    </div>

