@using BiblioAsp.Models;
@{
    Layout = null;
    List<Livre> lesLivres = (List<Livre>)ViewData["livres"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <header>
        <h2>Voici le contenu de la biliothèque</h2>
    </header>
    <div> 
        @if (lesLivres.Count > 0)
        {
            <table>
                <tr>
                    <th>Titre</th>
                    <th>Date de parution</th>
                    <th>Auteur</th>
                </tr>
               
            @foreach (Livre l in lesLivres)
            {
                <tr>
                    <td>@l.Titre</td>
                    <td>@l.DateParution</td>
                    <td>@l.Auteur.Nom</td>
                </tr>
              } 
            </table>
        }
        else
        {
            <p>Aucun livre n'est disponible pour le moment, revenez plus tard :)</p>
        }
    </div>
</body>
</html>
