@model List<BiblioAsp.Models.Livre>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <header>
        <h2>Voici le contenu de la biliothèque</h2>
    </header>
    <div>     
            <table>
                <tr>
                    <th>Titre</th>
                    <th>Date de parution</th>
                    <th>Auteur</th>
                </tr>
            @foreach (BiblioAsp.Models.Livre l in Model)
            {
                <tr>
                    <td>@l.Titre</td>
                    <td>@l.DateParution</td>
                    <td>@l.Auteur.Nom</td>
                </tr>
              } 
            </table>
    </div>
</body>
</html>
