@model List<BiblioAsp.Models.Livre>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livre par identifiant</title>
</head>
<body>
    <div> 
        @foreach(BiblioAsp.Models.Livre l in Model)
        {
            <p>Titre : @l.Titre<br/>Date de parution : @l.DateParution</p>
            if(l.Client != null)
            {
                <p>Livre emprunté par Client : @l.Client.Nom<br/>Adresse Email : @l.Client.Email</p>
            }
        }
    </div>
</body>
</html>
