@model List<BiblioAsp.Models.Livre>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LivreParAuteur</title>
</head>
<body>
        <h2>Les livres disponibles pour @Model[0].Auteur.Nom</h2>
        <div>
                <table>
                    <tr>
                        <th>Titre</th>
                        <th>Date de parution</th>
                    </tr>
                    @foreach (BiblioAsp.Models.Livre l in Model)
                    {
                        <tr>
                            <td>@l.Titre</td>
                            <td>@l.DateParution</td>
                        </tr>
                    }
                </table>
        </div>
</body>
</html>
