@model List<BiblioAsp.Models.Livre>
@{
    ViewBag.Title = "Livre par identifiant";
}
<div> 
        @foreach(BiblioAsp.Models.Livre l in Model)
        {
            <p>Titre : @l.Titre<br/>Date de parution : @l.DateParution</p>
            if(l.Client != null)
            {
                <p>Livre emprunté par Client : @l.Client.Nom<br/>Adresse Email : @l.Client.Email</p>
            }
        }
</div>
