@model List<BiblioAsp.Models.Livre>
@{ 
    ViewBag.Title = "Livre par auteur";
}
        <h2>Les livres disponibles pour @Model[0].Auteur.Nom</h2>
        <div>
                <table>
                    <tr>
                        <th>Titre</th>
                        <th>Date de parution</th>
                    </tr>
                    @foreach (BiblioAsp.Models.Livre l in Model)
                    {
                        <tr>
                            <td>@l.Titre</td>
                            <td>@l.DateParution</td>
                        </tr>
                    }
                </table>
        </div>
