<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Bibliothèque Villa</h1>
        <p>Bonne visite !</p>
        @Html.ActionLink("Rechercher un livre", "Index", "Rechercher")
        @Html.ActionLink("Ajouter un livre", "Livre", "Ajouter")
    </div>
</body>
</html>
