@{ 
// Layout =  "~/Views/Shared/LayoutDuSITE.cshtml"; // pas obligatoire ici car est appellé automatiquement avec fichier "_ViewStart.cshtml
    ViewBag.Title = "Acceuil";
}
    <div> 
        <p>Bonne visite !</p>
        @Html.ActionLink("Rechercher un livre", "Index", "Rechercher")
        @Html.ActionLink("Ajouter un livre", "Livre", "Ajouter")
    </div>
