@using BiblioAsp.Models
@{
    Layout = null;
    Auteur auteur = (Auteur)ViewData["auteur"];
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Bibliothèque Villa</h1>
        <p>Bonne visite ! @auteur.Nom</p>
    </div>
</body>
</html>
