@model List<BiblioAsp.Models.Livre>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div> 
        <p>Nous avons trouver ce livre pour vous</p>
    </div>
    <div>
        @foreach (BiblioAsp.Models.Livre l in Model)
        {
            <p>Titre : @l.Titre<br />
            Date de parution : @l.DateParution
            Auteur : @l.Auteur.Nom
            </p>
        }
    </div>
</body>
</html>
